@import "tailwindcss";

:root {
  --primary-color: #F8FAFC;
  --secondary-color: #071108;
  --accent-color: #902923;
  --accent-color-2: #3B2525;
  --accent-color-3: #1F2F20;
  --text-color: #111827;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
  --shade-color: #4B4848;
}